<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Queues">
    <test name="QueuesTest">
        <parameter name="size" value="8"/>
        <classes>
            <class name="org.blackoroogu.algorythms.threesum.ThreeSumTests">
            </class>
        </classes>
    </test>
</suite>
